@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body, html {
    background-color: #00683F;
    color: snow;
    font-family: 'DotGothic16', Verdana;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px black;
    box-sizing: border-box;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: #7AE6FF;
    text-decoration: underline;
}

h1 {
    z-index: 1;
    margin: 0;
}

.pencil {
    z-index: 0;
    height: 2rem;
}

.canvas {
    display: grid;
    width: 70vh;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;;
    background-color: white;
    border: 1px solid #7AE6FF;
    color: black;
    justify-content: stretch;
    align-content: stretch;
    box-shadow: 3px 3px black;
}

.square {
    background-color: white;
    border: 1px solid #7AE6FF;
    justify-self: stretch;
    align-self: stretch;
}

.sizeButton {
    background-color: yellow;
    border: 1px solid black;
    font-family: 'DotGothic16', Verdana;
    padding: 0.7rem;
    box-shadow: 3px 3px black;
}

.colorpicker {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#colorpicker {
  width: 4rem;
  border: transparent;
  background-color: transparent;
}

.avi {
    max-height: 20px;
    display: inline-block;
}

p {
    display: inline-block;
}

@media (orientation: portrait) {
    .canvas{
  height: 70vw;
    width: 70vw;
    }}